<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Chakra+Petch:ital@0;1&family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {{ bootstrap.load_css()}}
  
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/css.css') }}">
</head>
<body id="back2">
    <br>
    <h2 class="display-4">Profile</h2>
    <br>
    <div id="nav">
    <a href="/form">Form</a>
    &emsp;&emsp;
    <a href="/user_list">User List</a>
    &emsp;&emsp;
    <a href="/b">List</a>
    &emsp;&emsp;
    <a href="/home">Home</a>
    </div>
    <br>
    <br>
    {% if user_list %}
    {% for item in user_list %}
    <h2 class="display-4">{{item['user_name']}}'s picture is</h2>
    <br>
    <div id="data">
    <ol>
       
            <li> Name : {{item['user_name']}}</li>
            <br>
            <li> Age : {{item['user_age']}}</li>
            <br> 
            <li> City : {{item['user_city']}}</li>
            <br> 
            <li> File : {{item['user_file']}}</li>
            <br>
           
             <li><img id="pic" src="{{ url_for('static', filename = '/images/item[user_file].jpg') }}"></li>
             <br>
        {% endfor %}
    </ol>
    </div>
    {% endif %}
</div>
{% if user_list %}
<div id="drop">
<select>
    {% for item in user_list %}
    <option value={{item['user_name']}}>{{item['user_name']}}</option>
    <option value={{item['user_age']}}>{{item['user_age']}}</option>
    <option value={{item['user_city']}}>{{item['user_city']}}</option>
    <option value={{item['user_file']}}>{{item['user_file']}}</option>
    {% endfor %}
</select>
</div>
{% endif %}
<br>
</body>
</html>